﻿@{Layout = null;}
@*<script src="https://icassets.globaldata.com/gdic/assets/external/amcharts/v4/core.js"></script>
<script src="https://icassets.globaldata.com/gdic/assets/external/amcharts/v4/charts.js"></script>
<script src="https://icassets.globaldata.com/gdic/assets/external/amcharts/v4/themes/myTheme2.js"></script>*@
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="~/Scripts/ChartGallary.js"></script>
<script src="~/Scripts/charteditor.js"></script>