﻿@using LiveChartGallery.Models
@model LiveChartGallery.Models.GenericAmchart
@{
    Layout = null;
}
<div id="chartinputs" class="col-lg-16">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="col col-lg-4 float-left col-form-label">Import</div>
                <div class="col-lg-8">
                    <input id="filepathNew" type="file" class="form-control" name="" value="" accept=".xls" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @if ((new List<string> { "SimpleBar", "SimpleColumn", "SimpleLine", "SimplePie", "StackedBar", "TwoLineseries", "FullStackedBar", "StackedColumn", "FullStackedColumn", "Simpledonut" }).Contains(Model.chartSubType))
            {

                <div class="form-group">
                    <div class="col col-lg-4 float-left col-form-label">Catagory</div>
                    <div class="col-lg-8">
                        <select id="CatagoryMapping" class="form-control" name="CatagoryMapping"></select>
                    </div>
                </div>

            }
        </div>
        <div class="col-md-4">
            @if ((new List<string> { "SimpleBar", "SimpleColumn", "SimpleLine", "SimplePie","Simpledonut" }).Contains(Model.chartSubType))
            {

                <div class="form-group">
                    <div class="col col-lg-4 float-left col-form-label">Data Value</div>
                    <div class="col-lg-8">
                        <select id="ValueMapping" class="form-control" name="ValueMapping"></select>
                    </div>
                </div>

            }
        </div>
        <div class="col-md-4">
           @if ((new List<string> { "SimpleBar", "SimpleColumn", "SimpleLine", "SimplePie", "StackedBar", "FullStackedBar", "StackedColumn", "FullStackedColumn" }).Contains(Model.chartSubType))
           {
           
                <div class="form-group">
                    <div class="col col-lg-4 float-left col-form-label">X Axis Units</div>
                    <div class="col-lg-8">
                        <input type="text" name="X_AxisTitle" id="XAxisTitle" value="" />
                    </div>
                </div>
           
           }
        </div>
        <div class="col-md-4">
           @if ((new List<string> { "SimpleBar", "SimpleColumn", "SimpleLine", "SimplePie", "StackedBar", "FullStackedBar", "StackedColumn", "FullStackedColumn" }).Contains(Model.chartSubType))
           {

                <div class="form-group">
                    <div class="col col-lg-4 float-left col-form-label">Y Axis Units</div>
                    <div class="col-lg-8">
                        <input type="text" name="Y_AxisTitle" id="YAxisTitle" value="" />
                    </div>
                </div>
          
           }
        </div>

        <div class="col-md-4 text-right" style="padding-right:29px;">
            <div class="text-center">
                <input type="button" id="btnSubmitNew" class="beta secondary button" value="Upload" />
            </div>

            @*<input id="btnsaveHtml" type="button" class="btn btn-success" disabled="disabled" data-toggle="modal" data-target="#ModelPop" value="Save as HTML" />*@
            @*<input type="button" id="btnPublishShare" disabled="disabled" class="btn btn-primary" value="Publish & Share" />*@
            <input id="btnsaveHtml" type="button" class="btn btn-success hide" disabled="disabled" data-toggle="modal" data-target="#test" value="Save as HTML" />
        </div>
     
    </div>
    <br />
    <div >
        <ul class="theme-switcher hide">
            <li class="theme-text">Select a theme:</li>
            <li class="theme-button theme-button-none"><a id="Theme1" disabled="disabled" class="trans-all not-active" data-theme="none" title="No theme" aria-label="Switch to theme none" style="background-image: linear-gradient(45deg, #C21381 0%,#00DEA5 50%,#2F283C 50%,#9CA3A8 100%); border-color: #fff;">theme1</a></li>&nbsp;
            <li class="theme-button theme-button-dataviz"><a id="Theme2" disabled="disabled" class="trans-all not-active" data-theme="dataviz" title="Dataviz" aria-label="Switch to theme dataviz" style="background-image: linear-gradient(45deg, #283250 0%,#283250 50%,#902c2d 50%,#902c2d 100%); border-color: #fff;">theme2</a></li>
            <li class="theme-button theme-button-material"><a id="Theme3"  disabled="disabled" class="trans-all not-active" data-theme="material" title="Material" aria-label="Switch to theme material" style="background-image: linear-gradient(45deg, #E91E63 0%,#E91E63 50%,#9C27B0 50%,#9C27B0 100%); border-color: #fff;">theme3</a></li>
        </ul>
    </div>


    @*<div class="row">
        <div class=".col-md-6">
            <div>
                <p id="exturl"></p>
                <textarea id="iframeurl" rows="2" class="hide"></textarea>
            </div>
        </div>
    </div>*@

</div>

