﻿@using LiveChartGallery.Models
@model LiveChartGallery.Models.GenericAmchart
@{
    Layout = null;
}
<div id="chartinputs" class="col-lg-6">
    <div class="row">
        <div class="col">
            <div class="panel-group" id="accordion">

                <!-- First Group -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @*<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">*@
                                <a data-toggle="collapse" data-parent="#accordion" href="#">
                                    @*<i class="more-less glyphicon glyphicon-plus"></i>*@
                                    Data
                                </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col col-lg-4 float-left col-form-label">Import</div>
                                    <div class="col-lg-8">
                                        <input id="filepathNew" type="file" class="form-control" name="" value="" accept=".xls" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Second Group -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#">
                                @*<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">*@
                                    @*<i class="more-less glyphicon glyphicon-plus"></i>*@
                                    Mappings
                                </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @if ((new List<string> { "SimpleBar", "SimpleColumn", "SimpleLine", "SimplePie", "StackedBar", "TwoLineseries", "FullStackedBar", "StackedColumn", "FullStackedColumn" }).Contains(Model.chartSubType))
                                            <div class="row">
                                    <div class="form-group">
                                        <div class="col col-lg-4 float-left col-form-label">Catagory Mapping</div>
                                        <div class="col-lg-8">
                                            <select id="CatagoryMapping" class="form-control" name="CatagoryMapping"></select>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if ((new List<string> { "SimpleBar", "SimpleColumn", "SimpleLine", "SimplePie" }).Contains(Model.chartSubType))
                            {
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col col-lg-4 float-left col-form-label">Value Mapping</div>
                                        <div class="col-lg-8">
                                            <select id="ValueMapping" class="form-control" name="ValueMapping"></select>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if ((new List<string> { "SimpleBar", "SimpleColumn", "SimpleLine", "SimplePie", "StackedBar", "FullStackedBar", "StackedColumn", "FullStackedColumn" }).Contains(Model.chartSubType))
                            {
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col col-lg-4 float-left col-form-label">X Axis Title</div>
                                        <div class="col-lg-8">
                                            <input type="text" name="X_AxisTitle" id="XAxisTitle" value="@Model.X_AxisTitle" />
                                        </div>
                                    </div>
                                </div>
                            }
                            @if ((new List<string> { "SimpleBar", "SimpleColumn", "SimpleLine", "SimplePie", "StackedBar", "FullStackedBar", "StackedColumn", "FullStackedColumn" }).Contains(Model.chartSubType))
                            {
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col col-lg-4 float-left col-form-label">Y Axis Title</div>
                                        <div class="col-lg-8">
                                            <input type="text" name="Y_AxisTitle" id="YAxisTitle" value="@Model.Y_AxisTitle" />
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col " style="float:right">
            <input type="button" id="btnSubmitNew" class="btn btn-primary" value="Upload" />
            @*<input id="btnsaveHtml" type="button" class="btn btn-success" disabled="disabled" data-toggle="modal" data-target="#ModelPop" value="Save as HTML" />*@
            <input type="button" id="btnPublishShare"  disabled="disabled" class="btn btn-primary" value="Publish & Share" />
            <input id="btnsaveHtml" type="button" class="btn btn-success hide" disabled="disabled" data-toggle="modal" data-target="#test" value="Save as HTML" />
        </div>        
    </div>
    <div class="row">
        <p id="exturl"></p>
        <textarea id="iframeurl" rows="2" class="hide"></textarea>
    </div>
    
</div>
<div class="row">

</div>
