﻿@model LiveChartGallery.Models.GenericAmchart
@using LiveChartGallery.Models
@{Layout = null;}
<div id="SampleChartPresentation">
    <div id="SampleDynamicChart" style="min-height:500px"></div>
</div>

@if (!string.IsNullOrEmpty(Model.Chart_Config))
{
    @*@Html.Partial("_AmchartScripts")*@
    <script>
        //// Create chart instance in one go
        chartDispose("SampleDynamicChart");
        var chart = am4core.createFromConfig({
            @Html.Raw( Model.Chart_Config)
        }, "SampleDynamicChart", "@Model.ChartType");
        //$("#btnsaveHtml").prop('disabled', false);
    </script>
}

<input id="hchartConfigSample" type="hidden" value="@Model.Chart_Config" />
<input id="hChartTypeSample" type="hidden" value="@Model.ChartType" />
<input id="hTableJsonSample" name="DataSource" type="hidden" value="@Model.DataSource" />
@*<div class="modal fade" id="ModelPop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save HTML</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="htmlText" rows="10" readonly=""></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info clipboard-tooltip" data-clipboard-target="#htmlText">Copy to clipboard</button>
                <button type="button" id="saveashtml" class="btn btn-primary saveashtml" value="#htmlText">Save to filesystem</button>
                <button id="btnsave" type="button" class="btn btn-success"  data-toggle="modal" data-target="#ShareLink" value="Share">Share</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ShareModel")*@



