﻿
@{
    Layout = null;
}
<div class="modal fade" id="ShareLink" tabindex="-1" role="dialog" aria-labelledby="ShareLink" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ShareLinkLabel">Share</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="#" id="externallink" target="_blank">
                    <i class="fa fa-external-link"></i>
                    <span></span>
                </a>
                <p>
                    <i class="fa fa-code"></i>Embed on your website
                    <div class="row">
                        <textarea id="embedText" rows="2"></textarea>
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info clipboard-tooltip" data-clipboard-target="#embedText">Copy to clipboard</button>
            </div>
        </div>
    </div>
</div>