﻿@using LiveChartGallery.Models
@model LiveChartGallery.Models.ChartModel
@{
    ViewBag.Title = "Chart Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

        .panel-title > a {
            display: block;
            padding: 12px;
            text-decoration: none;
        }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

    .trans-all {
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -ms-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
    }

    .theme-switcher li a {
        display: block;
        cursor: pointer;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        border-radius: 19px;
        border: 5px solid #fff;
        -webkit-box-shadow: 0 2px 10px -5px #000;
        box-shadow: 0 2px 10px -5px #000;
        background-size: 38px 38px;
    }

    li {
        float: left;
    }

    ul {
        list-style-type: none;
    }

    .not-active {
        pointer-events: none;
    }
</style>
@Html.Partial("_AmchartScripts")

<div class="main-content">
            <div class="cell">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x grid-margin-y">
                        <div class="cell large-8 small-order-2 large-order-1">
                            <div class="grid-x grid-margin-x">
                                <a href="javascript:void(0);" class="beta secondary button prevnext" data-type="prev" data-step="1"><span>Previous</span></a>
                            </div>
                        </div>
                        <div class="cell large-4 small-order-1 large-order-2">
                            <div class="button-group align-for-large-right small-only-up-2">
                                <a href="javascript:void(0);" class="beta secondary button prevnext" data-type="next" data-step="1"><span>Next</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="LiveChart" class="col-lg-12">
                    <div class="step1 steps">

                        @Html.Partial("_SampleChartPresetation", Model.genericAmchart)
                    </div>
                    <div class="step2 steps hide">
                        <div>
                            <h3>
                                Step 2 : Download Sample Data(please click download)
                            </h3>
                        </div>
                        <div>
                            <button type="button" id="btndownload" class="beta secondary button">Download</button>
                        </div>
                        <br />
                        <div style="margin-bottom:30px;" id="sampledatatable">
                            @Html.Raw(Model.HtmlTable)
                        </div>
                        <div>
                            <table class="table table-striped" id="csvToTable"></table>
                        </div>
                    </div>
                    <div class="step3 steps hide">
                        <div>
                            <h3>
                                Step 3 :  Upload Your  Data
                            </h3>
                        </div>
                        <div>
                            @Html.Partial("_Rhsnavigationbar", Model.genericAmchart)
                            <div id="generatedChart hide">
                                <div id="DynamicChartGenerate">

                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="col col-lg-2 float-left col-form-label hide" id="labelgraphname" disabled="disabled">Chart Title</div>

                            <input type="text" name="Graphname" id="txtgraphname" disabled="disabled" class="hide" />

                        </div>
                        <div class="text-left">
                            <input type="button" id="btnPublishShare" disabled="disabled" class="beta secondary button hide" value="Publish & Share" />
                        </div>
                        <div>
                            <p id="exturl"></p>
                            <textarea id="iframeurl" rows="2" class="hide"></textarea>
                        </div>
                    </div>
                </div>
                @*@Html.Partial("_Rhsnavigationbar",Model.genericAmchart)*@

                <input type="hidden" name="chartSubType" id="hdnsubtype" value="@Model.chartSubType" />
                <input type="hidden" name="Rotate" id="hdnRotate" value="false" />
                <input type="hidden" name="json" id="hdnDatasource" value="" />
                <input type="hidden" name="arrayvalues" id="hdnarrayval" value="" />
                <input type="hidden" name="colorsarray" id="hdncolorsarray" value='Theme1' />
            </div>
        </div>

<script src="~/Scripts/jquery-3.5.1.min.js" type="text/javascript"></script>
@*<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>*@
<script>

    $("#btnSubmit").on("click", function () {

        $.ajax({
            url: "/Home/HomePage",
            type: "Post",
            dataType: 'html',
            data: $("form").serialize(),
            success: function (data) {
                $("#ChartPresentation").html(data);
            },
            error: function () {
                console.log("Error");
            }
        });
    });

    $("#btnsaveHtml").on("click", function () {
        $.ajax({
            url: "/Home/GetEmbeded",
            type: "Post",
            data: { },
            success: function (data) {
                debugger;
                $("#htmlText").empty();
                $("#htmlText").val(data.src);

            },
            error: function () {
                console.log("Error");
            }
        });
    });
    $("#Theme1").on("click", function () {

        $('#hdncolorsarray').val('Theme1');
        ChangeTheme();
    });
    $("#Theme2").on("click", function () {

        $('#hdncolorsarray').val('Theme2');
        ChangeTheme();
    });
    $("#Theme3").on("click", function () {

        $('#hdncolorsarray').val('Theme3');
        ChangeTheme();
    });
    $("#btndownload").on("click", function () {

        window.location.href = "/Home/DownloadSampleFile?chartType=" + '@Model.chartType' + '&chartSubType='+'@Model.chartSubType';
    });
    $("#getHtml").on("click", function () {
        $.ajax({
            url: "Home/GetVisualisation",
            type: "Post",
            data: { StrKey: $("#EmbededKey").val() },
            success: function (data) {
                $("#chartdiv").empty();
               $("#chartdiv").html(data.element);
                },
            error: function () {
                console.log("Error");
            }
        });
    });

    function ChangeTheme() {
        var valueMapping = $('#ValueMapping').val();
        var categoryMapping = $('#CatagoryMapping').val();

        if (!$('#CatagoryMapping').val() && ('@Model.chartSubType' == "SimpleBar" || '@Model.chartSubType' == "SimpleColumn" || '@Model.chartSubType' == "SimpleLine" || '@Model.chartSubType' == "SimplePie"
            || '@Model.chartSubType' == "StackedBar" || '@Model.chartSubType' == "FullStackedBar" || '@Model.chartSubType' == "StackedColumn" || '@Model.chartSubType' == "FullStackedColumn" || '@Model.chartSubType' == "TwoLineseries")) {
            alert('Please select CatagoryMapping');

        }
        if (!$('#ValueMapping').val() && ('@Model.chartSubType' == "SimpleBar" || '@Model.chartSubType' == "SimpleColumn" || '@Model.chartSubType' == "SimpleLine" || '@Model.chartSubType' == "SimplePie"
           )) {
            alert('Please select ValueMapping');

        }
        if ('@Model.chartType' == 'Bar') {
            valueMapping = $('#CatagoryMapping').val();
            categoryMapping = $('#ValueMapping').val();
            $('#hdnRotate').val(true);
        }

        var icharttype = 0;
        if ('@Model.chartType' == 'Pie') {
            iRadius = true;
            icharttype = 200;
            iRadiusValue = 60;
        }
        else if ('@Model.chartType' == 'Rader') {
            icharttype = 300;
        }
        else {
            icharttype = 100;
        }

        var iSeriesType = 0;
        if ('@Model.chartType' == 'Bar' || '@Model.chartType' == 'Column') {
            iSeriesType = 101;
        }
        else if ('@Model.chartType' == 'Line') {
            iSeriesType = 105;
        }
        else if ('@Model.chartType' == 'Pie') {
            iSeriesType = 201;
        }

        var genericAmchart = {
            ValueMapping: valueMapping,
            CatagoryMapping: categoryMapping,
            DataSource: $('#hdnDatasource').val(),
            Rotate: $('#hdnRotate').val(),
            iChartType: icharttype,
            iSeriesType: iSeriesType,
            chartSubType: $('#hdnsubtype').val(),
            columnsvalues: $("#hdnarrayval").val(),
            X_AxisTitle: $("#XAxisTitle").val(),
            Y_AxisTitle: $("#YAxisTitle").val(),
            colorsarray: $('#hdncolorsarray').val()
        }
        $.ajax({
            url: "/Home/HomePage",
            type: "Post",
            data: { 'genericAmchart': genericAmchart },
            success: function (data) {
                $("#DynamicChartGenerate").html(data);
                $("#DynamicChartGenerate").removeClass("hide");
                $("#btnPublishShare").removeAttr("disabled");
                $("#btnPublishShare").removeClass("hide");
                $("#labelgraphname").removeAttr("disabled");
                $("#labelgraphname").removeClass("hide");
                $("#txtgraphname").removeAttr("disabled");
                $("#txtgraphname").removeClass("hide");
                
            },
            error: function () {
                console.log("Error");
            }
        });
    }
</script>
@*Clipboard js*@
<script>
    var btns = document.querySelectorAll('.clipboard-tooltip');
    var clipboardDemos = new ClipboardJS(btns);
    clipboardDemos.on('success', function (e) {
        e.clearSelection();
        showTooltip(e.trigger, 'Copied!');
    });
    clipboardDemos.on('error', function (e) {
        showTooltip(e.trigger, fallbackMessage(e.action));
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        function toggleIcon(e) {

            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('glyphicon-plus glyphicon-minus');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    });


</script>
<script>

    $(document).ready(function () {

        $('#filepath').change(function (event) {
            $("#btndownload").remove();
            var json = "[";
            var rdr = new FileReader();
            rdr.onload = function (e) {
                ////Clear the tabel
                $('#csvToTable').empty();
                //get the rows into an array
                var therows = e.target.result.split("\n");
                //loop through the rows
                //console.log(therows.length);
                for (var row = 0; row < therows.length - 1; row++) {
                    //build a new table row
                    //get json keys

                    var Keys = therows[0].split(",");
                    if (row == 0) {
                        var options = $('#ValueMapping');
                        var optionscategory = $('#CatagoryMapping');
                        options.empty();
                        optionscategory.empty();
                    }
                    //// table header
                    if (row == 0) {
                        var newrow = "<thead>";
                        for (var head = 0; head < Keys.length; head++) {
                            newrow += "<th contenteditable=" + 'true' + ">" + Keys[head] + "</th>";
                            if (row == 0) {
                                options.append($('<option />').val(Keys[head]).text(Keys[head]));
                                optionscategory.append($('<option />').val(Keys[head]).text(Keys[head]));
                            }
                        }
                        newrow += "</thead>";
                        if (row == 0) {
                            $("select#CatagoryMapping")[0].selectedIndex = 0;
                            $("select#ValueMapping")[0].selectedIndex = 1;
                        }
                        $('#csvToTable').append(newrow);
                        continue;
                    }
                    var newrow = "<tbody><tr>";
                    if (row != 0) {
                        json += "{";
                    }
                    var tbody = document.createElement('tbody');
                    //get the columns into an array
                    var columns = therows[row].split(",");
                    //get number of columns
                    var colcount = columns.length;
                    console.log(colcount);
                    for (var col = 0; col < colcount; col++) {
                        if (col != 0) {
                            json += ",";
                        }
                        //if (col==0) {
                        //    var newrow = "<tr>";
                        //}
                        json += "'" + Keys[col] + "':'" + columns[col] + "'";
                        newrow += "<td contenteditable=" + 'true' + ">" + columns[col] + "</td>";
                    }
                    $('#csvToTable').append(newrow);
                    if (row != 0 && row < therows.length - 2) {
                        json += "},";
                    }
                    else if (row != 0) {
                        json += "}";
                    }
                }
                json += "]";
                $('#hTableJson').val(json);

                $('#Dataprovider').val(json);
                $("select#iChartType")[0].selectedIndex = 1;
                $("#iChartType").change();
                $('#sampledatatable').css("display", "none");
                //$("select#ValueMapping")[0].selectedIndex = 1;
            }
            rdr.readAsText($("#filepath")[0].files[0]);

        });

    });
</script>
<script>
    $(function () {
        function FileValidate(ev) {
            var regex = new RegExp("(.*?)\.(csv)$");
            if (!(regex.test(ev.value.toLowerCase()))) {
                ev.value = '';
                alert('Please select correct file format');
            }
        }
        $('#CatagoryMapping').change(function () {
            var chartSubType = '@Model.chartSubType';
            debugger;

            if (chartSubType == 'SimpleBar' || chartSubType == 'SimpleColumn' || chartSubType == 'SimpleLine' || chartSubType == 'SimplePie'|| chartSubType == 'Simpledonut') {
                if ($('#CatagoryMapping').val() != "" && $('#ValueMapping').val() != "") {
                    $('#Theme1').removeClass("not-active");
                    $('#Theme2').removeClass("not-active");
                    $('#Theme3').removeClass("not-active");
                    }
                }
                else {
                if ($('#CatagoryMapping').val() != "" &&typeof $('#ValueMapping').val()=='undefined') {
                    $('#Theme1').removeClass("not-active");
                    $('#Theme2').removeClass("not-active");
                    $('#Theme3').removeClass("not-active");
                }
                }


        });
        $('#ValueMapping').change(function () {
            var chartSubType = '@Model.chartSubType';
            debugger;

            if (chartSubType == 'SimpleBar' || chartSubType == 'SimpleColumn' || chartSubType == 'SimpleLine' || chartSubType == 'SimplePie' || chartSubType == 'Simpledonut') {
                if ($('#CatagoryMapping').val() != "" && $('#ValueMapping').val() != "") {
                    $('#Theme1').removeClass("not-active");
                    $('#Theme2').removeClass("not-active");
                    $('#Theme3').removeClass("not-active");
                }
            }
            else {
                if ($('#CatagoryMapping').val() != "" && typeof $('#ValueMapping').val() == 'undefined') {
                    $('#Theme1').removeClass("not-active");
                    $('#Theme2').removeClass("not-active");
                    $('#Theme3').removeClass("not-active");
                }
            }


        });

    $("#iChartType").change(function (event) {
        if (event.target.value == "400") {
            $("#Rotate").closest(".row").toggleClass("hide show");
        }

        if (event.target.value == "200" || event.target.value == "201") {
            $("#divDountSetting").toggleClass("hide show");
            $("#divDountSetting").next().toggleClass("hide show");
        }
        else {
            $("#divDountSetting").toggleClass("hide show");
            $("#divDountSetting").next().toggleClass("hide show");
        }
    });


    function chartDispose(DivId) {
        ////dispose chart object if already present
        if (DivId != undefined && DivId != '') {

            var charts = am4core.registry.baseSprites;
            if (charts) {
                for (var i = 0; i < charts.length; i++) {
                    if (charts[i].htmlContainer.id == DivId) {
                        charts[i].dispose();
                    }
                }
            }
            //if (am4core.registry.baseSprites.find(c => c.htmlContainer.id === DivId) != undefined) {
            //    var ch = am4core.registry.baseSprites.find(c => c.htmlContainer.id === DivId)
            //    ch.dispose();
            //    ch = null;
            //}
        }
    }
    });
</script>
<script type="text/javascript">
    $('#iRadius').change(function () {
        if (this.checked) {
            $(this).val(true);
        }
        else {
            $('#iRadius').val(false);
        }
    });
    $('#Rotate').change(function () {

        var Cmapping = $('#CatagoryMapping').val();
        var Vmapping = $('#ValueMapping').val();
        if (this.checked) {
            $("#CatagoryMapping").val(Vmapping);
            $("#ValueMapping").val(Cmapping);
            $('#Rotate').val(true);
        }
        else {
            $("#CatagoryMapping").val(Vmapping);
            $("#ValueMapping").val(Cmapping);
            $('#Rotate').val(false);

        }

    });
</script>
<script type="text/javascript">

    $('#iChartType').change(function () {
        debugger;
        $(function () {
            $.ajax({
                url: '@Url.Action("GetSecondData", "Home")',
                type: 'POST',
                dataType: 'json',
                data: { 'firstId': $("#iChartType").val() },
                success: function (data) {
                    var options = $('#iSeriesType');
                    options.empty();
                    $.each(data, function (i, item) {
                        options.append($('<option />').val(item.seriesid).text(item.seriesname));
                    });
                },
                error: function (response) {
                }
            });

        });
    });




</script>
<script>

    $(document).ready(function () {

        $('#filepathNew').change(function (event) {
            $("#btndownload").remove();
            FileUpload();

        });

    });

    function FileUpload() {
        var fileUpload = $("#filepathNew").get(0);
        var files = fileUpload.files;
        var fileData = new FormData();
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }
        $.ajax({
            url: '/Home/UploadFiles',
            type: "POST",
            contentType: false,
            processData: false,
            data: fileData,
            success: function (result) {
                try {
                    debugger;
                    $("#csvToTable").html("");
                    //$("#sampledatatable").html(result.HtmlTable);
                    var columnsArray = $.parseJSON(result.Columns)
                    //$("#hdnarrayval").val(columnsArray);
                    var cols = '';
                    $("#CatagoryMapping").html("");
                    $("#ValueMapping").html("");
                    $("#CatagoryMapping").append('<option value="">Select</option>');
                    $("#ValueMapping").append('<option value="">Select</option>');
                    $.each(columnsArray, function (k, v) {
                        $("#CatagoryMapping").append('<option value="' + v + '">' + v + '</option>');
                        $("#ValueMapping").append('<option value="' + v + '">' + v + '</option>');
                        cols = cols +v+"####";
                    })
                    var n = cols.lastIndexOf("####");
                    cols = cols.slice(0, n) + cols.slice(n).replace("####", '');
                    $("#hdnarrayval").val(cols);
                    $("#hdnDatasource").val(result.JsonData);
                }
                catch (ex)
                {
                    alert("File not in correct format.");
                }
            },
            error: function (err) {
                console.log(err.statusText);
                alert("File not in correct format.");
            }
        });
    }

    $("#btnSubmitNew").on("click", function () {
        $(".theme-switcher").toggleClass("hide", "show");
        var valueMapping = $('#ValueMapping').val();
        var categoryMapping = $('#CatagoryMapping').val();

        if (!$('#CatagoryMapping').val() && ('@Model.chartSubType' == "SimpleBar" || '@Model.chartSubType' == "SimpleColumn" || '@Model.chartSubType' == "SimpleLine" || '@Model.chartSubType' == "SimplePie" || '@Model.chartSubType' == "Simpledonut"
            || '@Model.chartSubType' == "StackedBar" || '@Model.chartSubType' == "FullStackedBar" || '@Model.chartSubType' == "StackedColumn" || '@Model.chartSubType' == "FullStackedColumn" || '@Model.chartSubType' == "TwoLineseries")) {
            alert('Please select CatagoryMapping');
            return false;
        }
        if (!$('#ValueMapping').val() && ('@Model.chartSubType' == "SimpleBar" || '@Model.chartSubType' == "SimpleColumn" || '@Model.chartSubType' == "SimpleLine" || '@Model.chartSubType' == "SimplePie" || '@Model.chartSubType' == "Simpledonut"
           )) {
            alert('Please select ValueMapping');
            return false;
        }
        if ('@Model.chartType' == 'Bar') {
            valueMapping = $('#CatagoryMapping').val();
            categoryMapping = $('#ValueMapping').val();
           $('#hdnRotate').val(true);
        }

        var icharttype = 0;
        if ('@Model.chartType' == 'Pie') {
            iRadius = true;
            icharttype = 200;
            iRadiusValue = 60;
        }
        else if ('@Model.chartType' == 'Rader') {
            icharttype = 300;
        }
        else {
            icharttype = 100;
        }

        var iSeriesType = 0;
        if ('@Model.chartType' == 'Bar' || '@Model.chartType' == 'Column') {
            iSeriesType = 101;
        }
        else if ('@Model.chartType' == 'Line') {
            iSeriesType = 105;
        }
        else if ('@Model.chartType' == 'Pie')
        {
            iSeriesType = 201;
        }

        var genericAmchart = {
            ValueMapping: valueMapping,
            CatagoryMapping: categoryMapping,
            DataSource: $('#hdnDatasource').val(),
            Rotate: $('#hdnRotate').val(),
            iChartType: icharttype,
            iSeriesType: iSeriesType,
            chartSubType: $('#hdnsubtype').val(),
            columnsvalues: $("#hdnarrayval").val(),
            X_AxisTitle:$("#XAxisTitle").val(),
            Y_AxisTitle: $("#YAxisTitle").val(),
            colorsarray: $('#hdncolorsarray').val()
        }
        $.ajax({
            url: "/Home/HomePage",
            type: "Post",
            data: { 'genericAmchart': genericAmchart },
            success: function (data) {
                $("#DynamicChartGenerate").html(data);
                $("#DynamicChartGenerate").removeClass("hide");
                $("#btnPublishShare").removeAttr("disabled");
                $("#btnPublishShare").removeClass("hide");
                $("#labelgraphname").removeAttr("disabled");
                $("#labelgraphname").removeClass("hide");
                $("#txtgraphname").removeAttr("disabled");
                $("#txtgraphname").removeClass("hide");
            },
            error: function () {
                console.log("Error");
            }
        });
    });
</script>
<script>
    $(document).on("click", "#saveashtml", function () {
        debugger;

        var datah =$("#htmlText").val();

            $.ajax({
                url: '@Url.Action("GeneratehtmlFile", "Home")',
                type: 'POST',
                data: { StrHtml: $("#htmlText").val() },

                success: function (response) {

                    if (response.msg == "success") {
                        window.location = "/Home/Downloadhtml?fileName=" + response.fileLink;
                    }

                },
                error: function (response) {

                }
            });


    });
    $('body').on('click', '.prevnext', function () {
        var type = $(this).data('type');
        if (type == "next")
        {
            var step = parseInt($(this).data('step')) + 1;
            SetPrevNextStepCount(step);
            $(".steps").addClass('hide');
            $(".step" + step).removeClass('hide');

        }
        else
        {
            var step = parseInt($(this).data('step')) - 1;
            SetPrevNextStepCount(step);
            $(".steps").addClass('hide');
            $(".step" + step).removeClass('hide');
        }
    });

    function SetPrevNextStepCount(step)
    {
        $('.prevnext').data('step', step);
        if (step == 1) {
            $('.prevnext[data-type="prev"]').addClass('hide');
        }
        else {
            $('.prevnext[data-type="prev"]').removeClass('hide');
        }
        if (step == 3) {
            $('.prevnext[data-type="next"]').addClass('hide');
        }
        else {
            $('.prevnext[data-type="next"]').removeClass('hide');
        }
    }

    $("#btnPublishShare").on("click", function () {
        
        $.ajax({
            url: "/Home/saveHtml",
            type: "Post",
            data: { Config: $("#hchartConfig").val(), type: $("#hChartType").val(), subtype: $("#hdnsubtype").val(), graphname: $('#txtgraphname').val() },
            success: function (data) {
                $("#exturl").html("Direct URL: " + data.urlpath + data.URL);
                $("#iframeurl").html("<iframe src='" + data.urlpath + data.URL + "' frameborder='0' scrolling='no' style='width:100%;height:600px;'></iframe>");
                $("#iframeurl").removeClass("hide");
            },
            error: function () {
                console.log("Error");
            }
        });
    })
</script>