﻿@model LiveChartGallery.Models.GenericAmchart

@{
    ViewBag.Title = "Charts List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="main-content">
        <div class="grid-container">
            <div class="grid-x grid-margin-x grid-margin-y">
                <div class="cell">
                    <div class="grid-x align-bottom">
                        <div class="cell medium-auto h-group">
                            <h1 class="regular">My Charts</h1>
                        </div>
                        <div class="cell medium-shrink text-align-for-medium-right">
                            <a href="/Home/index" class="beta secondary button"><span>Create new chart</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="table-attribute-action" style="border: solid 1px #cecece !important">

            <div class="action" id="TableAction001">
                <ul class="receptacle">

                    <li data-receptacle="pg-item-info">@Model.AMchartResults.FirstItem - @Model.AMchartResults.LastItem  of @Model.AMchartResults.TotalItems</li>&nbsp;Results

                </ul>
                <input type="hidden" id="totalPages" name="totalPages" value="@Model.AMchartResults.TotalPages" />

                <ul class="receptacle">


                    <li data-receptacle="pg-info"><div class="pg-info">Page <span class="pg-current">@Model.AMchartResults.PageNumber</span> of <span class="pg-total">@Model.AMchartResults.TotalPages</span></div></li>
                    @{
                    var prevCount = Model.AMchartResults.PageNumber - 1;
                    var nextCount = Model.AMchartResults.PageNumber + 1;
                    }
                    <li data-receptacle="pg-pagination">
                        <ul class="pagination">


                            <li class="pagination-previous">
                                @if (Model.AMchartResults.HasPreviousPage)
                            {
                            <a aria-label="Previous page" id="previousLink" href="#" onClick="return PaginationDropDownChanged('/Home/Chartdetails', '@prevCount', '');" style="background-color: #f1f1f1;border: none !important;"><span class="delta standard button primary clear">Previous</span><span class="show-for-sr"> previous page</span></a>
                            }
                            else
                            {
                            <a aria-label="Previous page" href="javascript:void(0);" disabled="disabled" class="disabled" style="background-color: #f1f1f1;border: none !important;"><span class="delta standard button primary clear">Previous</span><span class="show-for-sr"> previous page</span></a>
                            }
                            </li>


                            <li class="pagination-next">
                                @if (Model.AMchartResults.HasNextPage)
                            {

                            <a id="nextLink" href="#" onClick="return PaginationDropDownChanged('/Home/Chartdetails', '@nextCount', '');" aria-label="Next page"style="background-color: #f1f1f1;line-height: 0.5;border: none !important;"><span class="show-for-sr">Next page</span><span class="delta standard button primary clear">Next</span></a>
                            }
                            else
                            {
                            <a href="javascript:void(0);" aria-label="Next page" style="background-color: #f1f1f1;line-height: 0.5;border: none !important;"><span class="show-for-sr">Next page</span><span class="delta standard button primary clear">Next</span></a>
                            }
                            </li>


                        </ul>
                    </li>

                    <li data-receptacle="pg-jumpto pg-perpage">
                        <div class="jump-to"><span class="flex-container">Go to page <span class="input-group"><input type="text" id="bottomPageBox" value="@Model.AMchartResults.PageNumber"><a class="beta primary button tiny" onClick="return PaginationDropDownChanged('/Home/Chartdetails', '', 'topPageSizeTxt');"><i class="gd-chevron-right" aria-hidden="true"></i></a></span></span></div><div class="per-page">
                            <div class="dataTables_length">
                                <label>
                                    @Html.DropDownList("pageSize", new List<SelectListItem> { new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "20", Value = "20" }, new SelectListItem { Text = "50", Value = "50" } }, new { @class = "pageSizeDropdown", id = "pageSize", @Url = "/Home/Chartdetails" })
                                    Results
                                </label>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>

        <div class="table-container">
            <div id="TableView001_wrapper" class="dataTables_wrapper dt-foundation no-footer">
                <div class="table-fixedcol">
                    <table id="TableView001" class="dataTable no-footer dtr-inline" role="grid" aria-describedby="TableView001_info">
                        <thead>
                            <tr role="row">
                                <th>
                                    @Html.DisplayName("Title")
                                </th>
                                <th>
                                    @Html.DisplayName("Chart Type")
                                </th>
                                <th>
                                    @Html.DisplayName("Created Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Chart Url")
                                </th>
                            </tr>
                        </thead>
                        <tbody>





                            @foreach (var item in Model.AMchartResults)
                        {

                        <tr role="row">
                            <td>
                                <text>@item.ChartTitle</text>
                            </td>
                            <td>
                                <text>@item.ChartType</text>
                            </td>
                            <td>
                                <text>@item.CreatedDate</text>
                            </td>
                            <td>
                                <a href="@item.embedText">@item.embedText</a>
                            </td>
                            @*<td data-type="date" tabindex="0" class="sorting_1">28 Aug 2020</td>*@




                        </tr>
                        }


                        </tbody>
                    </table>
                </div><div class="table-paging dt-pg-hide"><div class="num-of-results"><div class="dataTables_info" id="TableView001_info" role="status" aria-live="polite">1 - 50 of 63,565 Deals</div></div><div class="pagination"><div class="dataTables_paginate paging_gd_pagination_input" id="TableView001_paginate"><div class="pg-info">Page <span class="pg-current">1</span> of <span class="pg-total">1272</span></div><ul class="pagination"><li class="pagination-previous"><a aria-label="Previous page" disabled="disabled" class="disabled"><span class="delta standard button primary clear">Previous</span><span class="show-for-sr"> previous page</span></a></li><li class="pagination-next"><a href="#" aria-label="Next page"><span class="show-for-sr">Next page</span><span class="delta standard button primary clear">Next</span></a></li></ul><div class="jump-to"><span class="flex-container">Go to page <span class="input-group"><input type="text"><a class="beta primary button tiny"><i class="gd-chevron-right" aria-hidden="true"></i></a></span></span></div></div></div><div class="per-page"><div class="dataTables_length" id="TableView001_length"><label><select name="TableView001_length" aria-controls="TableView001" class=""><option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option></select> Results</label></div></div></div>
            </div>

        </div>

        <div class="table-attribute-action bottompagination" style="border: solid 1px #cecece !important;">

            <div class="action" id="TableAction001">
                <ul class="receptacle">

                    <li data-receptacle="pg-item-info">@Model.AMchartResults.FirstItem - @Model.AMchartResults.LastItem  of @Model.AMchartResults.TotalItems</li>&nbsp;Results


                </ul>
                <input type="hidden" id="totalPages" name="totalPages" value="@Model.AMchartResults.TotalPages" />
                <ul class="receptacle">

                    <li data-receptacle="pg-info"><div class="pg-info">Page <span class="pg-current">@Model.AMchartResults.PageNumber</span> of <span class="pg-total">@Model.AMchartResults.TotalPages</span></div></li>

                    <li data-receptacle="pg-pagination">
                        <ul class="pagination">


                            <li class="pagination-previous">
                                @if (Model.AMchartResults.HasPreviousPage)
                            {
                            <a aria-label="Previous page" id="previousLink" href="#" onClick="return PaginationDropDownChanged('/Home/Chartdetails', '@prevCount', '');"><span class="delta standard button primary clear">Previous</span><span class="show-for-sr"> previous page</span></a>
                            }
                            else
                            {
                            <a aria-label="Previous page" href="javascript:void(0);" disabled="disabled" class="disabled" style="background-color: #f1f1f1;border: none !important;"><span class="delta standard button primary clear">Previous</span><span class="show-for-sr"> previous page</span></a>
                            }
                            </li>


                            <li class="pagination-next">
                                @if (Model.AMchartResults.HasNextPage)
                            {

                            <a id="nextLink" href="#" onClick="return PaginationDropDownChanged('/Home/Chartdetails', '@nextCount', '');" aria-label="Next page"><span class="show-for-sr">Next page</span><span class="delta standard button primary clear">Next</span></a>
                            }
                            else
                            {
                            <a href="javascript:void(0);" aria-label="Next page" style="background-color: #f1f1f1;line-height: 0.5;border: none !important;"><span class="show-for-sr">Next page</span><span class="delta standard button primary clear">Next</span></a>
                            }
                            </li>


                        </ul>
                    </li>

                    <li data-receptacle="pg-jumpto pg-perpage">
                        <div class="jump-to"><span class="flex-container">Go to page <span class="input-group"><input type="text" id="bottomPageBox2" value="@Model.AMchartResults.PageNumber"><a class="beta primary button tiny" onClick="return PaginationDropDownChanged('/Home/Chartdetails', '', 'bottomPageSizeTxt');"><i class="gd-chevron-right" aria-hidden="true"></i></a></span></span></div><div class="per-page">
                            <div class="dataTables_length">
                                <label>
                                    @Html.DropDownList("pageSize", new List<SelectListItem> { new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "20", Value = "20" }, new SelectListItem { Text = "50", Value = "50" } }, new { @class = "pageSizeDropdown", id = "pageSize", @Url = "/Home/Chartdetails" })
                                    Results
                                </label>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>

    </div>
