﻿@using LiveChartGallery.Models
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .chartpngs {
        width:32%;
        height:40%;
        padding-right:10px;
        padding-bottom:10px;
    }
    .entry-thumbnail{
        min-height: 155px;
    }
    .entry-header {
        margin-bottom:5px;
    }
    /*.search-type a,#RefinementFieldSelect001 {
        background-color:#fff !important;
    }*/
    /*.bdnone {
        border:none !important;
    }*/
</style>
<script>
    $(document).ready(function () {
        toggleIconInit();
        showHideAccordionAllInit();
    });
</script>
<div class="main-content">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <button class="button back" onclick="location.href='@Url.Action("Chartdetails", "Home")'">Back to List</button>
                <div class="grid-x align-bottom">
                    <div class="cell medium-auto h-group">
                        @*<h1 class="regular">Create Chart</h1>*@
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <div class="search-criteria main-search-criteria">
                    <div class="row">
                        <div class="col-lg-12" style="margin-left:20px">
                            <h3>
                                Step 1 :  Select a chart
                            </h3>
                        </div>
                    </div>
                    <div class="grid-x search-criteria-field gutter-medium bdnone">
                        <div class="cell ss-medium-2">
                            <div class="search-type">
                                <header style="font-size:medium;" class="bdnone">
                                    <span>Chart type</span>
                                    <a data-toggle="RefinementFieldSelect001Container" class="hide-for-ss-medium" data-toggle-icon>
                                        <i class="gd-chevron-down" data-toggler="gd-chevron-up gd-chevron-down"></i>
                                    </a>
                                </header>
                                <section id="RefinementFieldSelect001Container" data-toggler="hide" class="bdnone">
                                    <ul id="RefinementFieldSelect001" class="tabs vertical" data-tabs>
                                        <li class="tabs-title is-active"><a href="#SearchFieldPanel001">Bar</a></li>
                                        <li class="tabs-title"><a href="#SearchFieldPanel002">Column</a></li>
                                        <li class="tabs-title"><a href="#SearchFieldPanel003">Line</a></li>
                                        <li class="tabs-title"><a href="#SearchFieldPanel004">Pie & Donut </a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                        <div class="cell ss-medium-10">
                            <div class="search-selection">
                                @*<header>
                                    <span></span>                                   
                                </header>*@
                                <section>
                                    <div class="tabs-content vertical search-field" data-tabs-content="RefinementFieldSelect001" style="padding-top:35px;">
                                        <div class="tabs-panel is-active" id="SearchFieldPanel001">
                                            <div class="grid-x1 grid-margin-x1 grid-margin-y1">
                                                <div class="cell">
                                                        <div style="padding-left:10px;padding-bottom:10px;padding-top:10px;">
                                                            <div class="col-md-4">
                                                                <article id="" class="demo thumbnail trans-all">
                                                                    <div class="entry-thumbnail demo-thumbnail demo-background contain-image">
                                                                        <a href="/ChartEditor/@ChartTypes.BarChart/@ChartTypes.SimpleBar" class="param">
                                                                            <img src="~/Content/ChartImages/simplebar.png" class="demo-theme-none lazy-load loaded">
                                                                        </a>
                                                                    </div>
                                                                    <header class="entry-header">
                                                                        <center><a href="/ChartEditor/@ChartTypes.BarChart/@ChartTypes.SimpleBar" class="entry-title trans-all">Simple Bar Chart</a></center></header>
                                                                </article>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <article id="" class="demo thumbnail trans-all">
                                                                    <div class="entry-thumbnail demo-thumbnail demo-background contain-image">
                                                                        <a href="/ChartEditor/@ChartTypes.BarChart/@ChartTypes.Stackedbar" class="param">
                                                                            <img src="~/Content/ChartImages/stackedbar.png" class="demo-theme-none lazy-load loaded">
                                                                        </a>
                                                                    </div>
                                                                    <header class="entry-header">
                                                                        <center><a href="/ChartEditor/@ChartTypes.BarChart/@ChartTypes.Stackedbar" class="entry-title trans-all">Stacked Bar Chart</a></center>
                                                                    </header>
                                                                </article>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <article id="" class="demo thumbnail trans-all">
                                                                    <div class="entry-thumbnail demo-thumbnail demo-background contain-image">
                                                                        <a href="/ChartEditor/@ChartTypes.BarChart/@ChartTypes.FullStackedBar" class="param">
                                                                            <img src="~/Content/ChartImages/100_stackedbar.png" class="demo-theme-none lazy-load loaded">
                                                                        </a>
                                                                    </div>
                                                                    <header class="entry-header">
                                                                        <center> <a href="/ChartEditor/@ChartTypes.BarChart/@ChartTypes.FullStackedBar" class="entry-title trans-all">100% Stacked Bar Chart</a></center>
                                                                    </header>
                                                                </article>
                                                            </div>
                                                            @*<a href="/ChartEditor/bar">
                                                                <img src="~/Content/ChartImages/simplebar.png"  class="chartpngs"/>
                                                            </a>
                                                            <a href="/ChartEditor/bar">
                                                                <img src="~/Content/ChartImages/stackedbar.png" class="chartpngs"/>
                                                            </a>
                                                            <a href="/ChartEditor/bar">
                                                                <img src="~/Content/ChartImages/100_stackedbar.png" class="chartpngs"/>
                                                            </a>*@                                                            
                                                        </div>
                                                 
                                                </div>
                                                </div>

                                            </div>
                                        <div class="tabs-panel" id="SearchFieldPanel002">
                                            <div class="grid-x1 grid-margin-x1 grid-margin-y1">
                                                <div class="cell">
                                                    <div style="padding-left:10px;padding-bottom:10px;padding-top:10px;">
                                                        <div class="col-md-4">
                                                            <article id="" class="demo thumbnail trans-all">
                                                                <div class="entry-thumbnail demo-thumbnail demo-background contain-image">
                                                                    <a href="/ChartEditor/@ChartTypes.ColumnChart/@ChartTypes.SimpleColumn" class="param">
                                                                        <img src="~/Content/ChartImages/simplecolumn.png" class="demo-theme-none lazy-load loaded">
                                                                    </a>
                                                                </div>
                                                                <header class="entry-header">
                                                                    <center><a href="/ChartEditor/@ChartTypes.ColumnChart/@ChartTypes.SimpleColumn" class="entry-title trans-all">Simple Column Chart</a></center>
                                                                </header>
                                                            </article>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <article id="" class="demo thumbnail trans-all">
                                                                <div class="entry-thumbnail demo-thumbnail demo-background contain-image">
                                                                    <a href="/ChartEditor/@ChartTypes.ColumnChart/@ChartTypes.StackedColumn" class="param">
                                                                        <img src="~/Content/ChartImages/statckedcolumn.png" class="demo-theme-none lazy-load loaded">
                                                                    </a>
                                                                </div>
                                                                <header class="entry-header">
                                                                    <center><a href="/ChartEditor/@ChartTypes.ColumnChart/@ChartTypes.StackedColumn" class="entry-title trans-all">Stacked Column Chart</a></center>
                                                                </header>
                                                            </article>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <article id="" class="demo thumbnail trans-all">
                                                                <div class="entry-thumbnail demo-thumbnail demo-background contain-image">
                                                                    <a href="/ChartEditor/@ChartTypes.ColumnChart/@ChartTypes.FullStackedColumn" class="param">
                                                                        <img src="~/Content/ChartImages/100_statckedcolumn.png" class="demo-theme-none lazy-load loaded">
                                                                    </a>
                                                                </div>
                                                                <header class="entry-header">
                                                                    <center> <a href="/ChartEditor/@ChartTypes.ColumnChart/@ChartTypes.FullStackedColumn" class="entry-title trans-all">100% Stacked Column Chart</a></center>
                                                                </header>
                                                            </article>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="tabs-panel" id="SearchFieldPanel003">
                                            <div class="grid-x1 grid-margin-x1 grid-margin-y1">
                                                <div class="cell">
                                                    <div style="padding-left:10px;padding-bottom:10px;padding-top:10px;">
                                                        <div class="col-md-4">
                                                            <article id="" class="demo thumbnail trans-all">
                                                                <div class="entry-thumbnail demo-thumbnail demo-background contain-image">
                                                                    <a href="/ChartEditor/@ChartTypes.LineChart/@ChartTypes.SimpleLine" class="param">
                                                                        <img src="~/Content/ChartImages/simpleline.png" class="demo-theme-none lazy-load loaded">
                                                                    </a>
                                                                </div>
                                                                <header class="entry-header">
                                                                    <center><a href="/ChartEditor/@ChartTypes.LineChart/@ChartTypes.SimpleLine" class="entry-title trans-all">Simple Line Chart</a></center>
                                                                </header>
                                                            </article>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <article id="" class="demo thumbnail trans-all">
                                                                <div class="entry-thumbnail demo-thumbnail demo-background contain-image">
                                                                    <a href="/ChartEditor/@ChartTypes.LineChart/@ChartTypes.TwoLineseries" class="param">
                                                                        <img src="~/Content/ChartImages/TwoLineserie.png" class="demo-theme-none lazy-load loaded">
                                                                    </a>
                                                                </div>
                                                                <header class="entry-header">
                                                                    <center><a href="/ChartEditor/@ChartTypes.LineChart/@ChartTypes.TwoLineseries" class="entry-title trans-all">Two Line Series chart</a></center>
                                                                </header>
                                                            </article>
                                                        </div>
                                                       
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="tabs-panel" id="SearchFieldPanel004">
                                            <div class="grid-x1 grid-margin-x1 grid-margin-y1">
                                                <div class="cell">
                                                    <div style="padding-left:10px;padding-bottom:10px;padding-top:10px;">
                                                        <div class="col-md-4">
                                                            <article id="" class="demo thumbnail trans-all">
                                                                <div class="entry-thumbnail demo-thumbnail demo-background contain-image">
                                                                    <a href="/ChartEditor/@ChartTypes.PieChart/@ChartTypes.SimplePie" class="param">
                                                                        <img src="~/Content/ChartImages/simplepiechart.png" class="demo-theme-none lazy-load loaded">
                                                                    </a>
                                                                </div>
                                                                <header class="entry-header">
                                                                    <center><a href="/ChartEditor/@ChartTypes.PieChart/@ChartTypes.SimplePie" class="entry-title trans-all">Simple Pie Chart</a></center>
                                                                </header>
                                                            </article>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <article id="" class="demo thumbnail trans-all">
                                                                <div class="entry-thumbnail demo-thumbnail demo-background contain-image">
                                                                    <a href="/ChartEditor/@ChartTypes.PieChart/@ChartTypes.Simpledonut" class="param">
                                                                        <img src="~/Content/ChartImages/Simpledonutchart.png" class="demo-theme-none lazy-load loaded">
                                                                    </a>
                                                                </div>
                                                                <header class="entry-header">
                                                                    <center><a href="/ChartEditor/@ChartTypes.PieChart/@ChartTypes.Simpledonut" class="entry-title trans-all">Simple Donut Chart</a></center>
                                                                </header>
                                                            </article>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#RefinementFieldSelect001 a").on("click", function () {
        var id = $(this).attr('href');
        $("#RefinementFieldSelect001 li").removeClass('is-active');
        $(".tabs-content .tabs-panel").removeClass('is-active');
        $(this).closest('li').addClass('is-active');
        $(id).addClass('is-active');
       
    })

    $(".bodydiv").removeClass("container");
    $(".bodydiv").removeClass("body-content");
</script>

