﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chart Gallery</title>
    <link href="~/Content/primer.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/clipboard.min.js"></script>
    <script src="~/Scripts/tooltips.js"></script>
    <script src="~/Scripts/gdpagination.js" type="text/javascript"></script>

    <link href="https://icassets.globaldata.com/gdic/assets/css/globaldata-font.css?v=5.09" rel="stylesheet" />
    <link href="https://icassets.globaldata.com/gdic/assets/external/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://icassets.globaldata.com/gdic/assets/css/foundation-clean.min.css" rel="stylesheet" />
    <link href="https://icassets.globaldata.com/gdic/assets/css/globaldata.min.css?v=5.09" rel="stylesheet" />



    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://icassets.globaldata.com/gdic/assets/js/foundation-conflict.js"></script>
    <script src="https://icassets.globaldata.com/gdic/assets/js/foundation.js"></script>
    <script src="https://icassets.globaldata.com/gdic/assets/js/gd/toggler.js"></script>


    <script src="https://pdmcdn.azureedge.net/gdic/assets/js/foundation-conflict.js"></script>
    <script>window.jQuery || document.write('<script src="https://icassets.globaldata.com/gdic/assets/js/foundation-conflict.js">\x3C/script>')</script>


    <script src="https://pdmcdn.azureedge.net/gdic/assets/js/foundation.js"></script>
    <script>window.jQuery || document.write('<script src="https://icassets.globaldata.com/gdic/assets/js/foundation.js">\x3C/script>')</script>


    <script src="https://pdmcdn.azureedge.net/gdic/assets/js/gd/toggler.js"></script>
    <script>window.jQuery || document.write('<script src="https://icassets.globaldata.com/gdic/assets/js/gd/toggler.js">\x3C/script>')</script>
    <style>
        body { padding-top: 60px; }
        .btnnew {
       margin:10px
             }
    </style>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="padding-left: 0px; margin-left: 0px;">
            <a href="/Home/Index" class="gd-logo-link">
            <img class="gd-logo-img" src="~/Content/images/logo_green_large.png" alt="GlobalData Logo" style="height: 30px;">
            </a>

           &nbsp;&nbsp;&nbsp;
            @*<button class="beta secondary button" onclick="location.href='@Url.Action("Index", "Dashboard")'" style="color:white;float:right;margin-left:2px;margin-top:2px">Dashboard</button>
    
             <button class="beta secondary button" onclick="location.href='@Url.Action("Index", "Home")'" style="color:white;float:right;margin-top:2px">Chart Gallery</button>*@
            <a href="/Home/Chartdetails" style="line-height: 60px;color:  #c5c2cd;font-size: 14px;margin-left:10px;font-size: 14px;" class="gd-logo-link">My Charts</a>
            <a href="/Dashboard/Index" style="line-height: 60px;color:  #c5c2cd;font-size: 14px;margin-left:10px;font-size: 14px;"  class="gd-logo-link">Dashboard</a>
            <div style="float:right;padding: 20px;">
                <a href="/Login/Logout" style="color:white;text-align:right" class="icon-group-label">Logout <span class="gd-client-login-new right"></span></a>
            </div>
                
           
           
</div>
       
    </div>
    @*<div class="nav navbar-nav navbar-right">
        <li class="logout"><a href="/Login/Logout" class="icon-group-label">Logout <span class="gd-client-login-new right"></span></a></li>

    </div>*@
    <main>
        <div class="container body-content bodydiv">
            @RenderBody()
        </div>
    </main>
</body>
</html>