﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/clipboard.min.js"></script>
<script src="~/Scripts/tooltips.js"></script>
<script src="~/Scripts/gdpagination.js" type="text/javascript"></script>

<link href="https://icassets.globaldata.com/gdic/assets/css/globaldata-font.css?v=5.09" rel="stylesheet" />
<link href="https://icassets.globaldata.com/gdic/assets/external/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://icassets.globaldata.com/gdic/assets/css/foundation-clean.min.css" rel="stylesheet" />
<link href="https://icassets.globaldata.com/gdic/assets/css/globaldata.min.css?v=5.09" rel="stylesheet" />



<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://icassets.globaldata.com/gdic/assets/js/foundation-conflict.js"></script>
<script src="https://icassets.globaldata.com/gdic/assets/js/foundation.js"></script>
<script src="https://icassets.globaldata.com/gdic/assets/js/gd/toggler.js"></script>
@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
 <body class="gd-ic one-login bg-dual" data-gr-c-s-loaded="true" style="background-color: #2f283d;">

    <div class="main-content">
        <div class="main-layout cell-block-container">
            <nav></nav>


            <header>
                <div class="grid-container">
                    <div class="grid-x grid-padding-x">
                        <div class="cell">
                            <h3>
                                <img class="gd-logo" src="~/Content/images/logo_green_large.png" alt="GlobalData Logo" width="200px" />
                            </h3>
                            
                        </div>
                    </div>
                </div>
            </header>
            <br />
            <main>
                <div class="grid-container">
                    <div class="grid-x grid-padding-x">
                        <div class="login-segment cell medium-6">
                            <div class="grid-x LoginContainer show" id="LoginContainer" data-toggler="hide show">
                                <div class="cell small-12 s-medium-12 medium-12 large-10">
                                    <h2 style="font-weight:inherit;color:white" >ChartGallery Login</h2>
                                    <br />
                                    <div class="input-group">
                                        <span class="input-group-label">
                                            <div class="icon text gd-account-manager-profile"></div>
                                            <span class="show-for-medium">&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </span>
                                        <input autocomplete="off" required autofocus="autofocus" class="input-group-field" data-val="true" id="UserName" name="UserName" placeholder="Enter here..." type="text" value="">

                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-label">
                                            <div class="icon text gd-client-login-new"></div>
                                            <span class="show-for-medium">Password</span>
                                        </span>
                                        <input class="input-group-field" required data-val="true" id="password" name="password" placeholder="Enter here..." type="password">


                                    </div>
                                    
                                    <div>
                                        <button class="btn  confine expanded" style="background-color:#00dea5;color:#2f283;width:107px;text-align:center;">Log-In<i class="fa fa-sign-in"></i></button>
                                    </div>
                               

                                </div>


                            </div><!--close Login-->

                        </div>

                    </div>
                </div>
            </main>


        </div>
    </div>

    </body>
}