﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*pop up changes*/
#htmlText, textarea {
    max-width: initial !important;
    width:100%;
    min-height:40%;
     padding: 20px;
     outline: none;
     border:none;
     display:block;
     background:none;

}

