﻿@model LiveChartGallery.Models.Dashboard

<div class="modal-header">
   Chart details 
  
        <button type="button" class="close" data-dismiss="modal">&times;</button>


</div>

<div class="container">
  
    <div class="row" style="margin-top: 12px;">
        <div class="col-md-2">
        Title
        </div>
        <div  class="col-md-10">
            <input type="text" id="Title" value='@Model.Title' />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            Select Chart
        </div>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Name, (IEnumerable<SelectListItem>)ViewBag.Charturls, "Select", new { id = "charturl" })
        </div>
    </div>
  
  

   <input type="hidden" id="Id" value='@Model.Id' />
    <input type="hidden" id="WidgetId" value='@Model.WidgetId' />
</div>
<div style="text-align:right;margin-right:10px;padding:6px;">
    <input type="submit" id="btnmodelupdate" value="Update" class="beta secondary button" />

</div>


<script>
    $(function () {
        
        
        $("#btnmodelupdate").click(function () {
            
            $.ajax({
                type: 'POST',
                url: '/Dashboard/Details',
                data: {
                    WidgetId: $('#WidgetId').val(),
                    Title: $('#Title').val(),
                    EmbeddedUrl: $('#charturl').val(),
                    value: $('#WidgetValue').val(),
                    Id: $('#Id').val()
                },
               
                success: function (data) {
                 
                    location.reload(true);
                    $('#myModal').modal('hide');
                //  window.location.href = window.location.href;
                   // window.location.reload();
                    //window.top.location.reload();
                }

            });
        });
    });
</script>