﻿@model LiveChartGallery.Models.Dashboard

@{
    ViewBag.Title = "Create Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    if (@ViewBag.Result > 0) {
        alert("Dashboard Created");
    }
    else{
        alert("Error!!!");
    }
</script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="main-content">
        <div class="grid-container">
            <div class="grid-x grid-margin-x grid-margin-y">
                <div class="cell">
                    <button type="button" class="button back" onclick="location.href='@Url.Action("index", "Dashboard")'">Back to List</button>
                    <div class="grid-x align-bottom">
                        <div class="cell medium-auto h-group">
                            <h1 class="regular">Create dashboard </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("NAME", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>  

        <div class="form-group">
            @Html.Label("NUMBER OF WIDGETS ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> lstSelected = new List<SelectListItem>();
                    lstSelected.Add(new SelectListItem()
                    {
                        Text = "Select"
                    });
                    for (int i = 1; i <=4; i++)
                    {
                        lstSelected.Add(new SelectListItem()
                        {
                            Text = (i * 3).ToString(),
                            Value = (i * 3).ToString()
                        });
                    }
                }
                @Html.DropDownList("Widgets_No",lstSelected, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Widgets_No, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="beta secondary button" />
            </div>
        </div>
    </div>
}


