﻿@model IEnumerable<LiveChartGallery.Models.Dashboard>
@{
    ViewBag.Title = "Preview Dashboard";
}
<script src="~/Scripts/gdpagination.js"></script>
@*<div>*@
@*<button class="beta secondary button" onclick="location.href='@Url.Action("Index", "Dashboard")'">Back to List</button>*@
@*@Html.ActionLink("Back to List", "Index")*@
@*</div>*@
@foreach (var item in Model)
{
    ViewBag.Name = item.Name;
    if (item.Name != null)
    {
        break;
    }

}
<div class="main-content">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <div class="grid-x align-bottom">
                    <div class="cell medium-auto h-group">
                        <h1 class="regular">@ViewBag.Name</h1> <h1 class="regular">Preview Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">

    
        <div class="grid-x grid-margin-x grid-margin-y">
            
            @foreach (var item in Model)
    {

    <div class="cell medium-6">
        <div class="module gutter-collapse" style="background-color:#fff;">
            <!--module 004-->

            <div class="grid-x grid-margin-x grid-margin-y">
                <div class="cell">

                    <div class="grid-x graph-chart">

                        <div style="padding: 5px 12px 0px;background-color: #fff;width: 100%;min-height:40px;">
                            <h6 class="medium" style="font-weight: 400;display:inline-table;max-width:76%">@item.Title</h6>
                            @*<a href="#chapter4" style="float:right">Edit</a>*@
                        </div>
                        @*<div style="padding: 5px 12px 0px;background-color: #fff;width: 100%;min-height:45px;">
                                <h6 class="medium" style="font-weight: 400;display:inline-table;max-width:76%;word-break: break-all;">@item.EmbeddedUrl</h6>
                            </div>*@

                        <div class="cell chart" id="div1">
                            <iframe src='@item.EmbeddedUrl' frameborder='0' scrolling='no' style='width:100%;height:420px;'></iframe>


                        </div>

                    </div>
                    <div style="text-align:center">
                        @*<h6 style="text-align: center;display:inline-block;">DashBoard Count:</h6><span></span>*@
                    </div>



                </div>
                <!-- End of graph chart -->
            </div>
        </div>

    </div>
    }


        </div>


     

    </div>

</div>

