﻿@model LiveChartGallery.Models.Dashboard
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $(document).foundation();
    });
</script>
<div class="main-contect">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <div class="grid-x align-bottom">
                    <div class="cell medium-auto h-group">
                        <h1 class="regular">Dashboard</h1>
                    </div>
                    <div class="cell medium-shrink text-align-for-medium-right">
                        <a href="/Dashboard/CreateDashboard" class="beta secondary button btnnew"><span>Create New</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-container">
        <div class="table-attribute-action" style="border: solid 1px #cecece !important">

            <div class="action" id="TableAction001">
                <ul class="receptacle">

                    <li data-receptacle="pg-item-info">@Model.DashboardResults.FirstItem - @Model.DashboardResults.LastItem  of @Model.DashboardResults.TotalItems</li>&nbsp;Results

                </ul>
                <input type="hidden" id="totalPages" name="totalPages" value="@Model.DashboardResults.TotalPages" />

                <ul class="receptacle">


                    <li data-receptacle="pg-info"><div class="pg-info">Page <span class="pg-current">@Model.DashboardResults.PageNumber</span> of <span class="pg-total">@Model.DashboardResults.TotalPages</span></div></li>
                    @{
                        var prevCount = Model.DashboardResults.PageNumber - 1;
                        var nextCount = Model.DashboardResults.PageNumber + 1;
                    }
                    <li data-receptacle="pg-pagination">
                        <ul class="pagination">


                            <li class="pagination-previous">
                                @if (Model.DashboardResults.HasPreviousPage)
                                {
                                    <a aria-label="Previous page" id="previousLink" href="#" onClick="return PaginationDropDownChanged('/Dashboard', '@prevCount', '');" style="background-color: #f1f1f1;border: none !important;"><span class="delta standard button primary clear">Previous</span><span class="show-for-sr"> previous page</span></a>
                                }
                                else
                                {
                                    <a aria-label="Previous page" href="javascript:void(0);" disabled="disabled" class="disabled"  style="background-color: #f1f1f1;border: none !important;"><span class="delta standard button primary clear">Previous</span><span class="show-for-sr"> previous page</span></a>
                                }
                            </li>


                            <li class="pagination-next">
                                @if (Model.DashboardResults.HasNextPage)
                                {

                                    <a id="nextLink" href="#" onClick="return PaginationDropDownChanged('/Dashboard', '@nextCount', '');" aria-label="Next page" style="background-color: #f1f1f1;line-height: 0.5;border: none !important;"><span class="show-for-sr">Next page</span><span class="delta standard button primary clear">Next</span></a>
                                }
                                else
                                {
                                    <a href="javascript:void(0);" aria-label="Next page" style="background-color: #f1f1f1;line-height: 0.5;border: none !important;"><span class="show-for-sr">Next page</span><span class="delta standard button primary clear">Next</span></a>
                                }
                            </li>


                        </ul>
                    </li>

                    <li data-receptacle="pg-jumpto pg-perpage">
                        <div class="jump-to"><span class="flex-container">Go to page <span class="input-group"><input type="text" id="bottomPageBox" value="@Model.DashboardResults.PageNumber"><a class="beta primary button tiny" onClick="return PaginationDropDownChanged('/Dashboard', '', 'topPageSizeTxt');"><i class="gd-chevron-right" aria-hidden="true"></i></a></span></span></div><div class="per-page">
                            <div class="dataTables_length">
                                <label>
                                    @Html.DropDownList("pageSize", new List<SelectListItem> {  new SelectListItem { Text = "10", Value = "10" }, new SelectListItem {Text="20",Value="20" } }, new { @class = "pageSizeDropdown", id= "pageSize", @Url = "/Dashboard" })
                                    Results
                                </label>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
        <div id="TableView001_wrapper" class="dataTables_wrapper dt-foundation no-footer">
            <div class="table-fixedcol">
                <table id="TableView001" class="dataTable no-footer dtr-inline" role="grid" aria-describedby="TableView001_info">
                    <thead>
                        <tr role="row">
                            @*<th data-type="date" data-sortcolname="date" class="sorting_desc" tabindex="0" aria-controls="TableView001" rowspan="1" colspan="1" aria-sort="descending" aria-label="
                                    Announced Date
                                    activate to sort column ascending">
                                    Announced Date
                                    <a class="table-filter" data-table-filter-open="filter001" data-table-filter-open-init="yy"><span class="gd-filter" aria-hidden="true"></span></a>
                                    <a data-toggle="filter001" data-force-follow="false" data-table-filter-placeholder="" aria-controls="filter001" data-is-focus="false" data-yeti-box="filter001" aria-haspopup="true" aria-expanded="false" id="lgxw9b-dd-anchor"></a>
                                </th>*@
                            <th>Name</th>
                            @*<th class="custcoldealCompletedDate sorting" data-sortcolname="dealCompletedDate" tabindex="0" aria-controls="TableView001" rowspan="1" colspan="1" aria-label="
                                    Completed Date
                                    activate to sort column ascending">
                                    Completed Date
                                </th>*@
                            <th>Number of widgets</th>
                            @*<th class="nosort sorting_disabled" rowspan="1" colspan="1" aria-label="
                                    Headline
                                    ">
                                    Headline

                                </th>*@
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>





                        @foreach (var item in Model.DashboardResults)
                        {

                            <tr role="row">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Widgets_No)
                                </td>
                                @*<td data-type="date" tabindex="0" class="sorting_1">28 Aug 2020</td>*@


                                @*<td class="custcoldealCompletedDate" data-title="Completed Date" desc="Completed Date"><span> 28 Aug 2020 </span> </td>*@
                                <td>
                                    @Html.ActionLink("Edit", "EditDashboard", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "DeleteDashboard", new { Id = item.Id }) |
                                    @Html.ActionLink("Edit Widgets", "PreViewDashboard", new { Id = item.Id }) |
                                    @Html.ActionLink("Preview", "DashboardPreview", new { Id = item.Id }, new { target = "_blank" })
                                </td>


                            </tr>
                        }


                    </tbody>
                </table>
            </div><div class="table-paging dt-pg-hide"><div class="num-of-results"><div class="dataTables_info" id="TableView001_info" role="status" aria-live="polite">1 - 50 of 63,565 Deals</div></div><div class="pagination"><div class="dataTables_paginate paging_gd_pagination_input" id="TableView001_paginate"><div class="pg-info">Page <span class="pg-current">1</span> of <span class="pg-total">1272</span></div><ul class="pagination"><li class="pagination-previous"><a aria-label="Previous page" disabled="disabled" class="disabled"><span class="delta standard button primary clear">Previous</span><span class="show-for-sr"> previous page</span></a></li><li class="pagination-next"><a href="#" aria-label="Next page"><span class="show-for-sr">Next page</span><span class="delta standard button primary clear">Next</span></a></li></ul><div class="jump-to"><span class="flex-container">Go to page <span class="input-group"><input type="text"><a class="beta primary button tiny"><i class="gd-chevron-right" aria-hidden="true"></i></a></span></span></div></div></div><div class="per-page"><div class="dataTables_length" id="TableView001_length"><label><select name="TableView001_length" aria-controls="TableView001" class=""><option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option></select> Results</label></div></div></div>
        </div>


        <div class="table-attribute-action bottompagination" style="border: solid 1px #cecece !important;">

            <div class="action" id="TableAction001">
                <ul class="receptacle">

                    <li data-receptacle="pg-item-info">@Model.DashboardResults.FirstItem - @Model.DashboardResults.LastItem  of @Model.DashboardResults.TotalItems</li>&nbsp;Results


                </ul>
                <input type="hidden" id="totalPages" name="totalPages" value="@Model.DashboardResults.TotalPages" />
                <ul class="receptacle">

                    <li data-receptacle="pg-info"><div class="pg-info">Page <span class="pg-current">@Model.DashboardResults.PageNumber</span> of <span class="pg-total">@Model.DashboardResults.TotalPages</span></div></li>

                    <li data-receptacle="pg-pagination">
                        <ul class="pagination">


                            <li class="pagination-previous">
                                @if (Model.DashboardResults.HasPreviousPage)
                                {
                                    <a aria-label="Previous page" id="previousLink" href="#" onClick="return PaginationDropDownChanged('/Dashboard', '@prevCount', '');" style="background-color: #f1f1f1;border: none !important;"><span class="delta standard button primary clear">Previous</span><span class="show-for-sr"> previous page</span></a>
                                }
                                else
                                {
                                    <a aria-label="Previous page" href="javascript:void(0);" disabled="disabled" class="disabled" style="background-color: #f1f1f1;border: none !important;"><span class="delta standard button primary clear">Previous</span><span class="show-for-sr"> previous page</span></a>
                                }
                            </li>


                            <li class="pagination-next">
                                @if (Model.DashboardResults.HasNextPage)
                                {

                                    <a id="nextLink" href="#" onClick="return PaginationDropDownChanged('/Dashboard', '@nextCount', '');" aria-label="Next page" style="background-color: #f1f1f1;line-height: 0.5;border: none !important;"><span class="show-for-sr">Next page</span><span class="delta standard button primary clear">Next</span></a>
                                }
                                else
                                {
                                    <a href="javascript:void(0);" aria-label="Next page" style="background-color: #f1f1f1;line-height: 0.5;border: none !important;"><span class="show-for-sr">Next page</span><span class="delta standard button primary clear">Next</span></a>
                                }
                            </li>


                        </ul>
                    </li>

                    <li data-receptacle="pg-jumpto pg-perpage">
                        <div class="jump-to"><span class="flex-container">Go to page <span class="input-group"><input type="text" id="bottomPageBox2" value="@Model.DashboardResults.PageNumber"><a class="beta primary button tiny" onClick="return PaginationDropDownChanged('/Dashboard', '', 'bottomPageSizeTxt');"><i class="gd-chevron-right" aria-hidden="true"></i></a></span></span></div><div class="per-page">
                            <div class="dataTables_length">
                                <label>
                                    @Html.DropDownList("pageSize", new List<SelectListItem> { new SelectListItem { Text = "10", Value = "10" }, new SelectListItem { Text = "20", Value = "20" } }, new { @class = "pageSizeDropdown", id = "pageSize", @Url = "/Dashboard" })
                                    Results
                                </label>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>


</div>


