﻿@model IEnumerable<LiveChartGallery.Models.Dashboard>
@{
    ViewBag.Title = "Preview Dashboard";
}

@foreach (var item in Model)
{
    ViewBag.Name = item.Name;
    if (item.Name!=null)
    {
        break;
    }

}

<script src="~/Scripts/gdpagination.js"></script>
<div class="main-content">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <button type="button" class="button back" onclick="location.href='@Url.Action("index", "Dashboard")'">Back to List</button>
                <div class="grid-x align-bottom">
                    <div class="cell medium-auto h-group">
                        <h1 class="regular">@ViewBag.Name</h1>   <h1 class="regular">Edit Widgets</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cell">
        

        <div class="grid-x grid-margin-x grid-margin-y">
            @*<input type="hidden" id="dashboardid" value="@Model.Id" />*@
        @foreach (var item in Model)
        {

        <div class="cell medium-6">
            <div class="module gutter-collapse" style="background-color:#fff;">
                <!--module 004-->

                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell">

                        <div class="grid-x graph-chart">

                            <div style="padding: 5px 12px 0px;background-color: #fff;width: 100%;min-height:40px;">
                                <h6 class="medium" style="font-weight: 400;display:inline-table;max-width:86%">@item.Title</h6>

                                <a href="#" id="btnShowModal" class="anchorDetail" data-id=@item.WidgetId style="font-weight: 400;float:right">
                                    <span>Edit</span>
                                </a>

                            </div>


                            <div class="cell chart" id="div1">
                                <iframe src='@item.EmbeddedUrl' frameborder='0' scrolling='no' style='width:100%;height:420px;'></iframe>


                            </div>

                        </div>



                    </div>
                    <!-- End of graph chart -->
                </div>
            </div>

        </div>

        }


        </div>


        

        @*@Html.PagedListPager(Model, page => Url.Action("PreViewDashboard", new { page, Id = Model.First().Id }))*@


        </div>

    </div>

        <div id='myModal' class='modal'>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div id='myModalContent'></div>
                </div>

            </div>

        </div>

        <script>


            var TeamDetailPostBackURL = '/Home/Details';
            $(function () {
                $(".anchorDetail").click(function () {
                    debugger;
                    var $buttonClicked = $(this);
                    var id = $buttonClicked.attr('data-id');
                    var options = { "backdrop": "static", keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: '/Dashboard/Details',
                        contentType: "application/json; charset=utf-8",
                        data: { "WId": id },
                        datatype: "json",
                        success: function (data) {
                            debugger;
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');

                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
                //$("#closebtn").on('click',function(){
                //    $('#myModal').modal('hide');

                $("#closbtn").click(function () {
                    $('#myModal').modal('hide');
                });
            });

        </script>


